:root {
    --wagsr-blue: #005cc1;
}

@font-face {
    font-family: "HelveticaNeueLT Std Blk";
    src: url("fonts/5_HelveticaNeueLT\ Std\ Blk.woff");
}

@font-face {
    font-family: "HelveticaNeueLT Std Med";
    src: url("fonts/35_HelveticaNeueLT\ Std\ Med.woff");
}

body {
    display: flex;
    justify-content: center;
    font-family:"HelveticaNeueLT Std Med", "Helvetica", "Arial", sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    image-rendering: pixelated;
}


#container {
    background: white fixed;
    padding: 1em 2em 2em 2em;
    border-radius: 2em;
}

#info-heading {
    margin-bottom: 0.2em;
}

#info-list {
    margin-top: 0;
    margin-bottom: 1.5em;
}

#point-coordinates {
	margin-bottom: 1em;
    padding-top: 0.7em;
    padding-bottom: 1em;
}

#point-buttons {
    margin-bottom: 0.5em;
}

legend {
    font-weight: bold;
}

#checkbox-holder {
    margin-top: 0.3em
}

#button-holder {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#generate-button {
    margin-top: 1em;
}

table {
    display: block;
    height: 15rem;
    width: fit-content;
    overflow-y: scroll;
    border-collapse: collapse;
    border: 1px solid gray;
}

td, th {
    border: 1px solid;
    border-color: gray;
    padding: 0.3em;
}

#top-row {
    border-bottom: 2px solid;
    border-color: gray;
}

h1 {
    font-family: "HelveticaNeueLT Std Blk", "Helvetica", "Arial", sans-serif;
    font-weight: lighter;
}

button {

    border: none;
    border-radius: 0.3em;
    padding: 0.3em;
    font-family: "HelveticaNeueLT Std Med", "Helvetica", "Arial", sans-serif;
    cursor: pointer;
}

.blue-button {
    background-color: var(--wagsr-blue);
    color: white;
}

.blue-button:hover {
    background-color: #014e98;
}

.yellow-button {
    background-color: #ffdd14;
    color: black;
}

.yellow-button:hover {
    background-color: #fdca02;
}

input {
    accent-color: var(--wagsr-blue);
}

#add-point-button {
    margin-right: 0.2em;
}

.coordinate-input {
    font-family: "HelveticaNeueLT Std Med", "Helvetica", "Arial", sans-serif;
}

input[type=number] {
    color: var(--wagsr-blue);
    font-size: 11pt;
}