body {
    font-family:  "Helvetica", "Arial", sans-serif;
    margin-left: 1em;
    margin-right: 1em
}

#info-heading {
    margin-bottom: 0.2em;
}

#info-list {
    margin-top: 0;
    margin-bottom: 1.5em;
}

#point-coordinates {
	margin-bottom: 0.5em;
}

#point-buttons {
    margin-bottom: 0.3em;
}

legend {
    font-weight: bold;
}

#checkbox-holder {
    margin-top: 0.3em
}

#button-holder {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#generate-button {
    margin-top: 0.6em;
}

table {
    border-collapse: collapse;
    border: 1px solid;
    table-layout: fixed;
}

td, th {
    border: 1px solid;
    border-color: gray;
    padding: 0.3em;
}

#top-row {
    border-bottom: 2px solid;
    border-color: dimgray;
}